{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Conor's Website</h1>
{% endblock %}





<!-- <!DOCTYPE html>
<html>
	<head>
		<title>Conor's Flask Site</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<img src="static/homer.jpg" />
		<h1>Welcome to my flask site!</h1>
		<div class="video">
			<iframe width=1000 height="600" src="https://www.youtube.com/embed/5zgzgGbs-Fc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

			{% for x in content %}
				<p>{{x}}</p>
			{% endfor%}

			<a href="{{ url_for('about') }}">About Us</a>
		</div>
	</body>
</html> -->